---
---

@import "{{ site.theme }}";
header {
  background-color: #50bec6
}
body {
  font-family: Arial;
  margin: 0;
  padding: 0; 
}
/* h2 {
  color: #50bec6;
} */
p {
  line-height: 1.5;
}
a:link, a:active {
  display: inline-block;
  text-align: center;
  width: 150;
  margin: 0 auto;
  padding: 20;
  color: white;
  font-family: Arial;
  border: 1 solid #fff;
  border-radius: 10;
  text-decoration: none;
}
a:hover {
  background-color: #55c8f2
}
a.button {
    padding: 20;
    color: buttontext;
    background-color: buttonface;
    border: 1 solid buttonborder;
    border-radius: 10;
    text-decoration: none;
}
